<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Thanks! 
    <br/>
    Your account has successfully been verified with hamza. You can now begin shopping on <a href="https://demo.hamza.biz">Hamza - The World's First Decom Marketplace</a><br/><br/>
    If you run into any issues, please drop us an email at <a href="mailto:support@hamza.biz">support@hamza.biz</a><br/><br/>
    Enjoy!<br/>
    -- Hamza Team
</body>

</html>